.albamImage {
    width: 100%;
    height: auto;
    margin: 0 0 8px 0;
}
.text {
    h3 {
        font-size: 13px;
        line-height: 1.3;
    }
    h4, p {
        font-size: 11px;
        line-height: 1.3;
    }
    h4 {
        margin: 0 0 4px 0;
    }
    p {
        color: #B3B3B3;
    }
}